<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Cadastro</title>
    <script src="vue.global.js"></script>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div id="app">
        <h1>Cadastro no novo usuario</h1>

        <form>

            <label class="labelCadastro" for="newUsername">Nome de usuário:</label>
            <input class="textos" type="text" v-model="newUsername" required>

            <label class="labelCadastro" for="newPassword">Senha:</label>
            <input class="textos" type="Password" v-model="newPassword" required>
            
            <label class="labelCadastro" for="confirmPassword">Confirma Senha:</label>
            <input class="textos" type="password" v-model="confirmPassword" required>

            <button class="botaoCadastro" type="submuit" @click.prevent="adicionarUsuario">Cadastrar:</button>

        </form>

        <!-- <p>Usuario: {{username}}</p> -->
        <!-- <p>Senha: {{password}}</p> -->

        <p>Novo usuário: {{newUsername}}</p>

        <p class="error" :class="{entrada:mostrarEntrada}">{{error}}</p>
        <p class="sucesso" :class="{entrada:mostrarEntrada}">{{sucesso}}</p>

        <div class="lista">
            <button class="botaoCadastro" @click="verCadastro">
                {{mostrarLista ? "Ocultar lista": "mostrarLista"}}
            </button>

            <!--processo para listar os usuarios e senhas cadastrados nos arrays"usuarios" e "senhas"-->
            <ol v-if="mostrarLista">
                <li v-for="(usuario, index) in usuarios">
                    Usuários: {{usuario}}, {{senhas[index]}}
                    <button class="botaoCadastro" @click="excluirUsuario(usuario)">Excluir</button>
                    
                </li><!--fechamento li-->
            </ol><!--fechamento ol-->
        </div>

    </div><!--fechamento div principal-->

    <script src="process.js"></script>
    
</body>
</html>