.error{
    color:red;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.sucesso{
    color:rgb(25, 245, 25);
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.entrada{
    opacity: 1;
}

body{
    font-family: Arial, sans-serif;
    background-color:rgb(155, 223, 235);
    margin: 0;
    padding: 20px;
}

#app{
    max-width:500px;
    margin: 0 auto;
    background-color: rgb(35, 179, 201);
    padding: 20px;
    box-shadow: 10px 10px 10px rgb(126, 194, 193);
    border-radius: 10px;
    text-align: center;
}

h1{
    margin-top: 0;
}

form{
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 20px;
    background-color: rgb(115, 223, 235);
    border-radius: 10px;
}

label{
    margin-bottom: 10px;
}

.labelCadastro{
    display: block;
    margin-bottom: 5px;
    margin-top: 20px;
}


input[type="text"], input[type="password"]{
    padding: 10px;
    border-radius: 10px;
    /*border-color: rgb(21, 21, 21);*/
    /*border-style:solid;*/
    border: none;
    margin-bottom: 10px;
}

.textos{
    width: 50%;
    border: 3px solid rgb(28, 149, 145);
    font-size: 16px;


}

button{
    padding: 10px;
    background-color: rgb(19, 241, 234);
    color: rgb(5, 7, 7);
    border-radius: 10px;
    cursor: pointer;
    /*margin-top: 10px;*/

    margin-bottom: 20px;
    margin-right: 10px;
    margin-top: 10px;
}

.botaoCadastro{
    margin-bottom: 20px;
    margin-right: 10px;
    margin-top: 10px;
}

button:hover{
    background-color: rgb(28, 149, 145);
}

.lista{ 
    margin-top: 20px;
    border: 2px solid rgb(115, 223, 235);
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(115, 223, 235);

}

ol{
    margin-top: 10px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-items: center;
    
}

li{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-color: rgb(35, 179, 201);
    padding-left: 10px;
    margin-left: 0px;
    border-radius: 10px;
    background-color : rgb(115, 223, 235);
}