*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial,sans-serif ;
}

header{
    background-color: rgb(48, 6, 255);
    color: rgb(134, 187, 247);
    padding: 20px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline;
    margin-right: 15px;
}

nav ul li a{
    color: rgb(229, 242, 243);
    text-decoration: none;
}

section{
    padding: 20px;
}

.destino{
    margin-bottom: 30px;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.destino img{
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

footer{
    background-color: #333;
    color: aliceblue;
    padding: 10px;
    text-align: center;

}

form{
    max-width: 400px;
    margin: 0 auto;
}

label{
    display: block;
    margin-bottom: 10px;
}

input, textarea{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    boder: 1px solid grey;
    margin-bottom: 10px;
}

button{
    padding: 10px 20px;
    background-color: cadetblue;
    color: black;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}

button :hover{
    background-color: #898787;
}

h1,h2,h3,p{
    margin-bottom: 10px;
    text-align: center;
}