body {
    background-color: rgb(147, 171, 207) ;
    font-family: Arial, sans-serif ; 
}

h1{
    text-align: center ;
    margin: 5%;
}

ul{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

li{
    margin: 10%;
}

a{
    display: block;
    text-align:center ;
    background-color: gray;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover{
    background-color: rgb(33, 14, 175);
    color: rgb(163, 168, 229);
}

.instagram{
    background-image: linear-gradient(to bottom, rgba(74, 97, 202, 1),
    rgba(161, 57, 177, 1),rgba(239, 76, 93, 1),rgba(238, 75, 96, 1),
    rgba(189, 55, 160, 1));
}

.twitter{
    background-color: rgba(0, 174, 239, 1);
}

.facebook{
    background-color: rgba(0, 120, 246, 1);
}