.calculadora{
    background-color: rgb(47, 213, 213);
    top: 50%;
    left: 50%;
    position: fixed;
    display: flex;
    border: 1px solid rgb(92, 93, 95);
    transform: translate(-50%,-50%);
    font-size: 2rem;
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient( rgb(0, 0, 0),rgb(232,7,7), rgb(244, 236, 7));
    flex-direction: column;
    justify-content: center;
    align-items: center;
}/*fechamento calculadora*/

.tela{
    color: beige;
    width: 93%;
    height: 80px;
    background-color: rgb(0, 0, 0),rgb(232,7,7),rgb(244, 236, 7);
    border-radius: 10px;
    font-size: 3rem;
    margin-bottom: 20px;
    border: 3px solid rgb(240, 242, 247);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}/*fechamento tela*/

.linha{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.configuracaoBotao{
    display: flex;
    flex-direction: column;
    align-items: center;
}/*fechamento configuracaoBotao*/

button{
    font-size: 2rem;
    width: 80px;
    height: 80px;
    margin-right: 5px;
    border: 3px solid rgb(240, 242, 247);
    border-radius: 10px;
    cursor: pointer;
    color: black;

}
 
button:hover{
    background-color: transparent;
}

button:last-child{
    margin-right: 0;
    background-color: transparent;
}

.clear{
    width: 100px;
}